# ZS Data Science Challenge

In [121]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Import and analyse the data

In [122]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [123]:
train.head()

   S_No  Year  Month  Week Merchant_ID  Product_ID    Country     Sales
0     1  2013      1     1     ar00001           1  Argentina  157500.0
1     2  2013      1     1     ar00003           1  Argentina   39375.0
2     3  2013      1     1     ar00004           1  Argentina   15750.0
3     4  2013      1     1     ar00007           1  Argentina   47250.0
4     5  2013      1     1     ar00008           1  Argentina  283500.0

In [124]:
test.head()

    S_No  Year  Month  Product_ID    Country  Sales
0  79073  2016      4           1  Argentina    NaN
1  79074  2016      5           1  Argentina    NaN
2  79075  2016      6           1  Argentina    NaN
3  79076  2016      7           1  Argentina    NaN
4  79077  2016      8           1  Argentina    NaN

In [125]:
train = pd.DataFrame(train)
test = pd.DataFrame(test)

In [126]:
train.shape,test.shape

((79072, 8), (105, 6))

In [127]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79072 entries, 0 to 79071
Data columns (total 8 columns):
S_No           79072 non-null int64
Year           79072 non-null int64
Month          79072 non-null int64
Week           79072 non-null int64
Merchant_ID    79072 non-null object
Product_ID     79072 non-null int64
Country        79072 non-null object
Sales          79072 non-null float64
dtypes: float64(1), int64(5), object(2)
memory usage: 4.8+ MB

In [128]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 6 columns):
S_No          105 non-null int64
Year          105 non-null int64
Month         105 non-null int64
Product_ID    105 non-null int64
Country       105 non-null object
Sales         0 non-null float64
dtypes: float64(1), int64(4), object(1)
memory usage: 5.0+ KB

In [129]:
# we should drop the features week and merchant id from the training data set,
#because it is missing in test data  set
train = train.drop(['S_No','Week','Merchant_ID'],axis = 1)

In [130]:
train.head()

   Year  Month  Product_ID    Country     Sales
0  2013      1           1  Argentina  157500.0
1  2013      1           1  Argentina   39375.0
2  2013      1           1  Argentina   15750.0
3  2013      1           1  Argentina   47250.0
4  2013      1           1  Argentina  283500.0

## Encoding for the feature 'Country'

In [131]:
#So all features are non-null in train.csv
#we need to find promising features for our model
from sklearn.preprocessing import LabelEncoder
var_mod = ['Country']
le = LabelEncoder()
for i in var_mod:
    train[i] = le.fit_transform(train[i])
train.dtypes

Year            int64
Month           int64
Product_ID      int64
Country         int64
Sales         float64
dtype: object

In [132]:
# create a copy of test data set so that the test dataframe doesnt get disturbed much and then we can 
# directly assign the predictions to the test data

In [133]:
a = test.copy(deep = True)

In [134]:
#a = a.drop(['Sales','S_No'],axis = 1).copy(deep = True)

In [135]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Country']
le = LabelEncoder()
for i in var_mod:
    a[i] = le.fit_transform(a[i])
train.dtypes

Year            int64
Month           int64
Product_ID      int64
Country         int64
Sales         float64
dtype: object

In [136]:
test.head()
# just to cross validate that whether test data is same as before or not

    S_No  Year  Month  Product_ID    Country  Sales
0  79073  2016      4           1  Argentina    NaN
1  79074  2016      5           1  Argentina    NaN
2  79075  2016      6           1  Argentina    NaN
3  79076  2016      7           1  Argentina    NaN
4  79077  2016      8           1  Argentina    NaN

In [137]:
test['Country'].unique()

array(['Argentina', 'Belgium', 'Columbia', 'Denmark', 'England',
       'Finland'], dtype=object)

Change the train data frame such that it gives information about sales for each month for a particular country
in a specific year

In [138]:
train= train.groupby(['Country','Year','Month','Product_ID']).agg({'Sales': np.sum})

In [139]:
train = train.reset_index()
train.head()

   Country  Year  Month  Product_ID        Sales
0        0  2013      1           1  34346025.00
1        0  2013      1           2   2751851.48
2        0  2013      2           1  32005575.00
3        0  2013      2           2   2804313.12
4        0  2013      3           1  32530050.00

We are also going to consider the feature expense_per_promotion for each product

In [140]:
expense = pd.read_csv('promotional_expense.csv')
expense.head(5)

   Year  Month    Country  Product_Type  Expense_Price
0  2013      1  Argentina             1      14749.307
1  2013      1  Argentina             2       1329.374
2  2013      1    Belgium             2        249.590
3  2013      1   Columbia             1       1893.122
4  2013      1   Columbia             2       1436.726

In [141]:
#same encoding of country feature for expense data is performed

In [142]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Country']
le = LabelEncoder()
for i in var_mod:
    expense[i] = le.fit_transform(expense[i])
train.dtypes

Country         int64
Year            int64
Month           int64
Product_ID      int64
Sales         float64
dtype: object

In [143]:
expense.columns = ['Year','Month','Country','Product_ID','Expense']

Now we will merge expense data set and our current dataset, but for test data there is no feature for expense 
so we will add the feature in its copied dataframe, then use it for prediction and then assign those inclusive sales to test dataset

In [144]:
a = pd.merge(a, expense, on=['Country','Year','Month','Product_ID'] ,how='outer')
a

        S_No  Year  Month  Product_ID  Country  Sales    Expense
0    79073.0  2016      4           1        0    NaN   8214.875
1    79074.0  2016      5           1        0    NaN  10777.878
2    79075.0  2016      6           1        0    NaN  10320.673
3    79076.0  2016      7           1        0    NaN   7377.587
4    79077.0  2016      8           1        0    NaN   9805.705
5    79078.0  2016      9           1        0    NaN   9375.481
6    79079.0  2016     10           1        0    NaN   7284.900
7    79080.0  2016     11           1        0    NaN  10381.438
8    79081.0  2016     12           1        0    NaN   6865.382
9    79082.0  2017      1           1        0    NaN  10704.394
10   79083.0  2017      2           1        0    NaN   7253.269
11   79084.0  2017      3           1        0    NaN   8427.013
12   79085.0  2016      4           2        0    NaN   3087.389
13   79086.0  2016      5           2        0    NaN   3424.024
14   79087.0  2016      6           2        0    NaN   3544.379
15   79088.0  2016      7           2        0    NaN   3303.667
16   79089.0  2016      8           2        0    NaN   3828.908
17   79090.0  2016      9           2        0    NaN   3415.876
18   79091.0  2016     10           2        0    NaN   3367.186
19   79092.0  2016     11           2        0    NaN   3567.157
20   79093.0  2016     12           2        0    NaN   3616.041
21   79094.0  2017      1           2        0    NaN   3652.529
22   79095.0  2017      2           2        0    NaN   3250.009
23   79096.0  2017      3           2        0    NaN   2951.466
24   79097.0  2017      1           3        0    NaN        NaN
25   79098.0  2017      2           3        0    NaN        NaN
26   79099.0  2017      3           3        0    NaN        NaN
27   79100.0  2016      4           2        1    NaN    765.271
28   79101.0  2016      5           2        1    NaN    622.565
29   79102.0  2016      6           2        1    NaN    722.112
..       ...   ...    ...         ...      ...    ...        ...
411      NaN  2015      1           4        4    NaN    188.135
412      NaN  2015      1           5        4    NaN    385.360
413      NaN  2015      1           4        5    NaN   1416.856
414      NaN  2015      2           4        4    NaN    153.179
415      NaN  2015      2           5        4    NaN    338.272
416      NaN  2015      2           4        5    NaN   1206.613
417      NaN  2015      3           4        4    NaN    177.187
418      NaN  2015      3           5        4    NaN    390.226
419      NaN  2015      3           4        5    NaN   1588.459
420      NaN  2015      4           4        4    NaN    179.485
421      NaN  2015      4           5        4    NaN    421.233
422      NaN  2015      4           4        5    NaN   1432.277
423      NaN  2015      5           4        4    NaN    163.298
424      NaN  2015      5           5        4    NaN    353.808
425      NaN  2015      5           4        5    NaN   1148.367
426      NaN  2015      6           4        4    NaN    174.837
427      NaN  2015      6           5        4    NaN    381.576
428      NaN  2015      6           4        5    NaN   1517.116
429      NaN  2015      7           4        4    NaN    191.911
430      NaN  2015      7           5        4    NaN    438.430
431      NaN  2015      7           4        5    NaN   1313.673
432      NaN  2015      8           4        4    NaN    153.892
433      NaN  2015      8           5        4    NaN    312.222
434      NaN  2015      8           4        5    NaN   1334.374
435      NaN  2015      9           4        4    NaN    178.459
436      NaN  2015      9           5        4    NaN    381.886
437      NaN  2015      9           4        5    NaN   1350.590
438      NaN  2015     10           4        4    NaN    174.667
439      NaN  2015     10           5        4    NaN    381.837
440      NaN  2015     10           4        5    NaN   1441.062

[441 rows x 7 columns]

In [145]:
a['Expense'].fillna(np.mean(a['Expense']),inplace = True)

In [146]:
train = pd.merge(train, expense, on=['Country','Year','Month','Product_ID'] ,how='inner')

In [147]:
train

     Country  Year  Month  Product_ID        Sales    Expense
0          0  2013      1           1  34346025.00  14749.307
1          0  2013      1           2   2751851.48   1329.374
2          0  2013      2           1  32005575.00  12187.566
3          0  2013      2           2   2804313.12   1315.006
4          0  2013      3           1  32530050.00  13076.579
5          0  2013      3           2   2573004.98   1192.655
6          0  2013      4           1  35588700.00  14377.199
7          0  2013      4           2   3436237.42   1658.633
8          0  2013      5           1  38789100.00  15652.861
9          0  2013      5           2   3772468.84   1838.573
10         0  2013      6           1  36196650.00  11718.545
11         0  2013      6           2   3712853.34   1569.111
12         0  2013      7           1  37133775.00  14144.888
13         0  2013      7           2   3791545.80   1812.946
14         0  2013      8           1  35311500.00  12839.791
15         0  2013      8           2   3698545.62   1763.468
16         0  2013      9           1  38437875.00  10788.309
17         0  2013      9           2   3979930.78   1809.594
18         0  2013     10           1  44397675.00  16108.134
19         0  2013     10           2   4514085.66   2051.441
20         0  2013     11           1  45525375.00  16242.067
21         0  2013     11           2   5258087.10   2594.987
22         0  2013     12           1  33610500.00  11144.301
23         0  2013     12           2   4010930.84   1774.795
24         0  2014      1           1  44600850.00  15316.880
25         0  2014      1           2   4821701.64   2218.769
26         0  2014      2           1  41562675.00  14746.595
27         0  2014      2           2   4044315.52   1763.443
28         0  2014      3           1  36957375.00  12998.792
29         0  2014      3           2   4945701.88   2222.233
..       ...   ...    ...         ...          ...        ...
306        5  2013      5           4  32942280.96   1513.342
307        5  2013      6           4  19155934.08    921.716
308        5  2013      7           4  27180092.16   1265.548
309        5  2013      8           4  27492566.40   1280.376
310        5  2013      9           4  33901217.28   1554.288
311        5  2013     10           4  30052978.56   1389.610
312        5  2013     11           4  37328238.72   1701.203
313        5  2013     12           4  25899212.16   1211.026
314        5  2014      1           4  28468419.84   1320.833
315        5  2014      2           4  18218511.36    881.556
316        5  2014      3           4  39838901.76   1583.462
317        5  2014      4           4  33158501.77   1522.261
318        5  2014      5           4  23801300.73   1121.180
319        5  2014      6           4  27895262.62   1348.254
320        5  2014      7           4  30143145.19   1392.341
321        5  2014      8           4  26633523.87   1242.183
322        5  2014      9           4  38019992.88   1732.551
323        5  2014     10           4  23672488.22   1115.553
324        5  2014     11           4  25217203.55   1169.936
325        5  2014     12           4  30169071.14   1402.402
326        5  2015      1           4  30706372.78   1416.856
327        5  2015      2           4  50113926.02   1206.613
328        5  2015      3           4   9044923.37   1588.459
329        5  2015      4           4  31067217.98   1432.277
330        5  2015      5           4  24446467.61   1148.367
331        5  2015      6           4  31931776.30   1517.116
332        5  2015      7           4  28287106.21   1313.673
333        5  2015      8           4  28765114.99   1334.374
334        5  2015      9           4  28817795.16   1350.590
335        5  2015     10           4  31268810.86   1441.062

[336 rows x 6 columns]

In [148]:
expense.head(5)
#once check whether it is properly merged or not

   Year  Month  Country  Product_ID    Expense
0  2013      1        0           1  14749.307
1  2013      1        0           2   1329.374
2  2013      1        1           2    249.590
3  2013      1        2           1   1893.122
4  2013      1        2           2   1436.726

In [149]:
# Extract features and labels
labels = train['Sales']
features = train.drop('Sales', axis = 1)

# List of features for later use
feature_list = list(features.columns)

# Convert to numpy arrays
import numpy as np

features = np.array(features)
labels = np.array(labels)

In [150]:
#split train and cross vaildation(test) data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features,labels,test_size=0.33,
                                                    random_state=123)

In [154]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import roc_auc_score

In [155]:
#using random forests
rf= RandomForestRegressor(n_estimators = 1000,random_state = 42)
rf.fit(X_train, y_train);
prediction = rf.predict(X_test)
rf.score(X_train,y_train)

0.998760577881276

In [157]:
from sklearn import metrics
from sklearn.metrics import explained_variance_score

score = explained_variance_score(y_test,prediction)
score

0.9826892997497877

In [158]:
from sklearn.metrics import r2_score
r2_score(y_test,prediction)

0.9826126217199911

In [159]:
errors = abs(prediction - y_test)
errors
mape = np.mean(100 * (errors / y_test))
mape
accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')
#print('Average absolute error:', round(np.mean(errors), 2), 'degrees.')

Accuracy: 90.07 %.

In [163]:
a['Sales'] = rf.predict(a.drop(['Sales','S_No'],axis = 1))

In [164]:
b = test.copy(deep=True)
# craete another copy of test data to merge a with the new copy and then without 
# affecting features of test data we will put the values for sales

In [165]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Country']
le = LabelEncoder()
for i in var_mod:
    b[i] = le.fit_transform(b[i])
train.dtypes

Country         int64
Year            int64
Month           int64
Product_ID      int64
Sales         float64
Expense       float64
dtype: object

In [166]:
b.drop(['Sales'],axis = 1,inplace = True)

In [167]:
b = pd.merge(b, a, on=['S_No','Year','Month','Product_ID','Country'] ,how='inner')

In [168]:
b

      S_No  Year  Month  Product_ID  Country         Sales     Expense
0    79073  2016      4           1        0  3.528882e+07   8214.8750
1    79074  2016      5           1        0  3.478572e+07  10777.8780
2    79075  2016      6           1        0  3.528514e+07  10320.6730
3    79076  2016      7           1        0  3.552944e+07   7377.5870
4    79077  2016      8           1        0  3.528514e+07   9805.7050
5    79078  2016      9           1        0  3.528514e+07   9375.4810
6    79079  2016     10           1        0  3.552944e+07   7284.9000
7    79080  2016     11           1        0  3.528514e+07  10381.4380
8    79081  2016     12           1        0  3.573222e+07   6865.3820
9    79082  2017      1           1        0  3.528514e+07  10704.3940
10   79083  2017      2           1        0  3.552944e+07   7253.2690
11   79084  2017      3           1        0  3.528514e+07   8427.0130
12   79085  2016      4           2        0  3.677816e+07   3087.3890
13   79086  2016      5           2        0  3.677816e+07   3424.0240
14   79087  2016      6           2        0  3.677816e+07   3544.3790
15   79088  2016      7           2        0  3.677816e+07   3303.6670
16   79089  2016      8           2        0  3.677816e+07   3828.9080
17   79090  2016      9           2        0  3.677816e+07   3415.8760
18   79091  2016     10           2        0  3.677816e+07   3367.1860
19   79092  2016     11           2        0  3.677816e+07   3567.1570
20   79093  2016     12           2        0  3.677816e+07   3616.0410
21   79094  2017      1           2        0  3.677816e+07   3652.5290
22   79095  2017      2           2        0  3.677816e+07   3250.0090
23   79096  2017      3           2        0  3.677816e+07   2951.4660
24   79097  2017      1           3        0  3.586877e+07   9235.6996
25   79098  2017      2           3        0  3.586877e+07   9235.6996
26   79099  2017      3           3        0  3.586877e+07   9235.6996
27   79100  2016      4           2        1  2.463556e+07    765.2710
28   79101  2016      5           2        1  2.463556e+07    622.5650
29   79102  2016      6           2        1  2.463556e+07    722.1120
..     ...   ...    ...         ...      ...           ...         ...
75   79148  2017      1           2        3  1.552927e+08  61985.7910
76   79149  2017      2           2        3  1.340123e+08  57087.5580
77   79150  2017      3           2        3  1.700285e+08  67228.8920
78   79151  2015     11           5        4  2.235683e+07    416.9690
79   79152  2015     12           5        4  2.235683e+07    464.3510
80   79153  2016      1           5        4  2.235683e+07    349.7030
81   79154  2016      2           5        4  2.235683e+07    333.1410
82   79155  2016      3           5        4  2.235683e+07    427.8170
83   79156  2016      4           5        4  2.235683e+07    399.1590
84   79157  2016      5           5        4  2.235683e+07    400.7440
85   79158  2016      6           5        4  2.235683e+07    426.1980
86   79159  2016      7           5        4  2.235683e+07    378.9030
87   79160  2015     11           4        4  2.217690e+07    171.1660
88   79161  2015     12           4        4  2.217690e+07    194.4680
89   79162  2016      1           4        4  2.217690e+07    162.6390
90   79163  2016      2           4        4  2.217690e+07    163.5530
91   79164  2016      3           4        4  2.217690e+07    174.6850
92   79165  2016      4           4        4  2.217690e+07    172.1810
93   79166  2016      5           4        4  2.217690e+07    175.2240
94   79167  2016      6           4        4  2.217690e+07    181.4020
95   79168  2016      7           4        4  2.217690e+07    157.7560
96   79169  2015     11           4        5  2.810207e+07   1306.7310
97   79170  2015     12           4        5  3.267600e+07   1499.4470
98   79171  2016      1           4        5  3.502280e+07   1181.3060
99   79172  2016      2           4        5  2.217690e+07    940.1910
100  79173  2016      3           4        5  3.115902e+07   1439.7340
101  79174  2016      4           4        5  3.012479e+07   1378.8590
102  79175  2016      5           4        5  2.217690e+07    970.1940
103  79176  2016      6           4        5  2.757844e+07   1289.0240
104  79177  2016      7           4        5  2.217690e+07    900.0830

[105 rows x 7 columns]

In [169]:
test['Sales'] = b['Sales']

In [170]:
test

      S_No  Year  Month  Product_ID    Country         Sales
0    79073  2016      4           1  Argentina  3.528882e+07
1    79074  2016      5           1  Argentina  3.478572e+07
2    79075  2016      6           1  Argentina  3.528514e+07
3    79076  2016      7           1  Argentina  3.552944e+07
4    79077  2016      8           1  Argentina  3.528514e+07
5    79078  2016      9           1  Argentina  3.528514e+07
6    79079  2016     10           1  Argentina  3.552944e+07
7    79080  2016     11           1  Argentina  3.528514e+07
8    79081  2016     12           1  Argentina  3.573222e+07
9    79082  2017      1           1  Argentina  3.528514e+07
10   79083  2017      2           1  Argentina  3.552944e+07
11   79084  2017      3           1  Argentina  3.528514e+07
12   79085  2016      4           2  Argentina  3.677816e+07
13   79086  2016      5           2  Argentina  3.677816e+07
14   79087  2016      6           2  Argentina  3.677816e+07
15   79088  2016      7           2  Argentina  3.677816e+07
16   79089  2016      8           2  Argentina  3.677816e+07
17   79090  2016      9           2  Argentina  3.677816e+07
18   79091  2016     10           2  Argentina  3.677816e+07
19   79092  2016     11           2  Argentina  3.677816e+07
20   79093  2016     12           2  Argentina  3.677816e+07
21   79094  2017      1           2  Argentina  3.677816e+07
22   79095  2017      2           2  Argentina  3.677816e+07
23   79096  2017      3           2  Argentina  3.677816e+07
24   79097  2017      1           3  Argentina  3.586877e+07
25   79098  2017      2           3  Argentina  3.586877e+07
26   79099  2017      3           3  Argentina  3.586877e+07
27   79100  2016      4           2    Belgium  2.463556e+07
28   79101  2016      5           2    Belgium  2.463556e+07
29   79102  2016      6           2    Belgium  2.463556e+07
..     ...   ...    ...         ...        ...           ...
75   79148  2017      1           2    Denmark  1.552927e+08
76   79149  2017      2           2    Denmark  1.340123e+08
77   79150  2017      3           2    Denmark  1.700285e+08
78   79151  2015     11           5    England  2.235683e+07
79   79152  2015     12           5    England  2.235683e+07
80   79153  2016      1           5    England  2.235683e+07
81   79154  2016      2           5    England  2.235683e+07
82   79155  2016      3           5    England  2.235683e+07
83   79156  2016      4           5    England  2.235683e+07
84   79157  2016      5           5    England  2.235683e+07
85   79158  2016      6           5    England  2.235683e+07
86   79159  2016      7           5    England  2.235683e+07
87   79160  2015     11           4    England  2.217690e+07
88   79161  2015     12           4    England  2.217690e+07
89   79162  2016      1           4    England  2.217690e+07
90   79163  2016      2           4    England  2.217690e+07
91   79164  2016      3           4    England  2.217690e+07
92   79165  2016      4           4    England  2.217690e+07
93   79166  2016      5           4    England  2.217690e+07
94   79167  2016      6           4    England  2.217690e+07
95   79168  2016      7           4    England  2.217690e+07
96   79169  2015     11           4    Finland  2.810207e+07
97   79170  2015     12           4    Finland  3.267600e+07
98   79171  2016      1           4    Finland  3.502280e+07
99   79172  2016      2           4    Finland  2.217690e+07
100  79173  2016      3           4    Finland  3.115902e+07
101  79174  2016      4           4    Finland  3.012479e+07
102  79175  2016      5           4    Finland  2.217690e+07
103  79176  2016      6           4    Finland  2.757844e+07
104  79177  2016      7           4    Finland  2.217690e+07

[105 rows x 6 columns]

In [171]:
#Convert test dataframe to csv file such that we can use it afterwards
test.to_csv('submission2018_update1.csv',index = False)